.category_items {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 3em;
}

.cat_item > p {
  padding: 10px 0;
}

.circle img {
  width: 168px;
  height: 168px;
  border-radius: 100%;
}
/* .circle img:hover{
  transform: scale(1.2);
} */
