#temp {
  margin-top: 13rem !important;
}
main > p {
  border-top: 3px solid #edecec;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.abt-box {
  margin: 2rem 0 !important;
  padding: 2rem !important;
  display: flex;
  flex-direction: column;
}
.abt-img img {
  width: 100%;
}
.abt-img,
.abt-text {
  flex: 1;
}
.abt-text {
  font-size: 1rem;
  text-align: justify;
  padding: 1rem 0 !important;
}

/* @media only screen and (min-width: 750px) {

} */
@media only screen and (min-width: 800px) {
  .abt-box {
    flex-direction: row;
    gap: 1rem;
    /* align-items: center; */
  }
}
