/* GLobal styling */
*,
::after,
::before {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  background: #edecec;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000 !important;
  cursor: pointer;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

.container {
  margin: 0 auto !important;
  max-width: 1200px !important;
}
#landing-page {
  margin-top: 10rem !important;
  padding: 3rem 0 !important ;
  transition: background-image 1.5s ease-in-out;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: max-content;
  /* 100% !important */
}
#landing_text {
  margin-top: 3rem !important;
  margin-left: 3rem !important ;
}
#landing_text p:first-child {
  font-size: 20px;
  background-color: #d72d2d;
  color: white;
  display: inline-block;
  padding: 0 5px !important;
  margin-top: 0.5rem !important;
}
#landing_text p:nth-child(2) {
  color: black;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
  margin: 1.7rem 0 !important;
}
#landing_text p:nth-child(3) {
  font-size: 20px;
  color: black;
  margin-bottom: 1rem !important;
}
#landing_text a {
  background-color: #751fff;
  color: white !important;
  font-size: 17px;
  border-radius: 1em;
  border-style: none;
  padding: 0.7rem 1.7rem !important;
  margin: 1.7rem 0 !important;
}
#landing_text a:hover {
  background-color: black;
  cursor: pointer;
}
#deal-boxes {
  margin: 2rem 0 !important;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem !important;
}
.box1 {
  background-image: url(../images/rediphone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.box2 {
  background-image: url(../images/take-sounds\ headphone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.box1,
.box2 {
  padding: 4rem 2rem !important;
  color: white;
  font-size: 20px;
}

.box1 > p:nth-child(2),
.box2 > p:nth-child(2) {
  font-size: 50px;
  font-weight: bold;
  margin: 10px 0 !important;
}
.box1 > p:nth-child(3),
.box2 > p:nth-child(3) {
  margin-bottom: 1.5rem !important;
}
.box1 a,
.box2 a {
  background: white;
  color: black;
  font-size: 17px;
  border-radius: 1em;
  border-style: none;
  padding: 0.7rem 1.7rem !important;
  margin: 1rem 0 !important;
  border: 1px solid transparent;
}
.box1 a:hover,
.box2 a:hover {
  color: white !important;
  background: transparent;
  border: 1px solid white;
}
.shipping {
  margin: 2em 0 !important;
  padding: 1.5rem !important;
  background: white;
  font-size: 16px;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  grid-gap: 1rem;
}

.shipping .ship {
  text-align: center;
  width: 100%;
  padding: 2rem 0 !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.ship .ship-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category {
  margin: 2em 0 !important;
  padding: 1.5rem !important;
  background-color: white;
}
.category > p {
  padding: 2rem 0 !important;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.category_items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  grid-gap: 1rem !important;
  text-align: center;
}
.cat_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.cat_item > p {
  padding: 10px 0 !important;
}
.cat_item .circle img {
  padding: 10px 0 !important;
  object-fit: cover;
  border-radius: 100%;
}
.cat_item:hover .circle img {
  transform: scale(1.02);
}
.best_price {
  /* background: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.temp {
  position: relative;
}
.temp,
.plain-white {
  flex: 1;
}
.temp img {
  height: 100%;
  width: 100%;
}
.bs {
  position: absolute;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 1rem !important;
  border-radius: 100%;
  top: 0.5rem !important;
  right: 2rem !important;
  transform: rotate(18deg);
  background-color: #d72d2d;
  color: white;
}
.plain-white {
  padding: 1.5rem 3rem !important;
  background: white;
}
.plain-white p:first-child {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
}
.plain-white span {
  font-size: 70px;
}
.plain-white p:nth-child(2) {
  font-size: 17px;
  margin-bottom: 1.5rem !important;
}
.plain-white a {
  background: #751fff;
  color: white;
  font-size: 17px;
  border-radius: 1em;
  border: transparent;
  padding: 0.9em 3.5em !important;
  margin: 1.5rem 0 !important;
}
.plain-white a:hover {
  background: white;
  color: black;
  border: 1px solid #000;
}
/* TODAYS SPECIAL */
.today_special {
  background: white;
  width: 100%;
  margin: 2em 0 !important;
}
.pic img {
  height: 100%;
}
.spec-white {
  padding: 2rem !important ;
}
.spec-white button {
  background: #751fff;
  color: white;
  font-size: 17px;
  border-radius: 1em;
  border: transparent;
  padding: 0.9em 3.5em !important;
  margin: 2em 0;
}
.spec-white button:hover {
  background: black;
  color: white;
}

.spec-white p:first-child {
  border: 1px solid red;
  display: inline-block;
  color: white;
  background-color: #d72d2d;
  padding: 0 0.7em;
  margin: 1em 0;
  font-size: 20px;
}
.spec-white p:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
}
.spec-white span {
  font-size: 70px;
  font-weight: bolder;
}
.spec-white p:nth-child(3) {
  font-size: 16px;
  line-height: 1.5;
  padding-top: 1em;
  padding-bottom: 1rem !important;
}
#tic {
  color: #751fff;
}
/* BRANDS */
.brand_title {
  text-align: center;
  background: white;
  padding: 2rem 0 !important;
}
.brand_title > p {
  font-size: 30px;
  font-weight: bold;
}
.brands {
  padding: 0.5rem 2rem !important;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.brand_img {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1rem 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* NEWSLETTER */
.news {
  margin: 2rem 0 !important;
  background: #751fff;
  color: white;
  text-align: center;
  padding: 2rem !important;
}
.news p:first-child {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 1em !important;
}
.news p:nth-child(2) {
  font-size: 17px;
  padding-bottom: 1em !important;
}
.eml input,
.eml button {
  display: block;
  width: 100% !important;
  height: 40px;
  padding: 8px !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  margin-bottom: 0.5rem !important; /* Add spacing between input and button */
}
.eml button {
  background-color: black;
  cursor: pointer;
  color: white;
  font-size: 17px;
  border-radius: 1rem;
  border-style: none;
  text-align: center;
}
.eml button:hover {
  background: gray;
  color: black;
}
@media only screen and (min-width: 750px) {
  #deal-boxes {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem !important;
  }
}
@media only screen and (min-width: 800px) {
  #landing_text {
    width: 50%;
  }
  .best_price {
    flex-direction: row;
  }
  .bs {
    top: 0.5rem !important;
    right: -2rem !important;
  }
  .today_special {
    display: flex;
    justify-content: space-between;
  }
  .spec-white,
  .pic,
  .tic {
    flex: 1;
  }
  .eml {
    display: flex;
  }
  .eml input {
    flex: 2;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .eml button {
    flex: 1;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}
